html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ffff;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0%;
    width: 100%;
    padding: 20px 8%;
    background-color: #050505;
    z-index: 1000;
    border-bottom: 1px solid #00ff88;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.logo span{
    color: #00ff88;
}

.menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a{
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover{
    color: #00ff88;
}

.hero{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)), url(../src/hero.avif);
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    padding: 120px 8%;
}

.hero-conteudo{
    max-width: 650px;
}

.hero h1{
    font-size: 56px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    margin-bottom: 30px;
    color: #dddddd;
}

.botao{
    display: inline-block;
    background-color: #00ff88;
    color: #050505;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s;
}

.botao:hover{
    background-color: #ffff;
    transform: scale(1.05);
}

section{
    padding: 80px 8%;
}

section h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
    color: #dddddd;
}

.sobre{
    background-color: black;
}

.beneficios{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.beneficio{
    background-color: #111;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #222;
    width: 100%;
    transition: 0.3s;
}

.beneficio:hover{
    border-color: #00ff88;
    transform: translateY(-8px)

}

.beneficio h3{
    color: #00ff88;
    margin-bottom: 15px;
}

.beneficio p{
    color: #dddddd;

}

.planos{
    background-color: #0000;
}

.subtitulo{
    text-align: center;
    color: #cccccc;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}

.cards-planos{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.preco{
    color: #00ff88;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.card{
    background-color: #111;
    padding: 30px;
    border-radius: 18px;
    border: 1px solid #222;
    width: 100%;
    max-width: 320px;
    text-align: center;
    transition: 0.3s;
}

.card:hover,
form button:hover{
    transform: translateY(-10px);
    border-color: #00ff88;  
} 

.card ul{
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.card li{
    margin: 12px 0;
    color: #dddddd;
}

.card button{
    background-color: #00ff88;
    border-radius: 25px;
    padding: 14px 25px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.card button:hover{
    background-color: #ffff;

}

.galeria{
    background-color: #0000;
}

.galeria h2{
    font-size: 30px;
    align-items: center;
    color: #ffff;
    text-align: center;
}


.imagens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.foto{
    display: flex;
    height: 250px;
    border-radius: 18px;
    background-size: cover;
    background-position: center;
    align-items: end;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #ffff;
    overflow: hidden;

}

.card-musculacao{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../src/musculacao.avif);
}

.card-cardio{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../src/cardio.avif);
}

.card-funcional{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../src/funcional.avif);
}



form{
    max-width: 600px;
    margin: 0 auto;
    background-color: #111;
    padding: 30px;
    border-radius: 18px;
    border: 1px solid #222;
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

input, textarea{
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    height: 120px;
    resize: none;
}

.resposta{
text-align: center;
font-size: 18px;
margin-top: 20px;
color: #00ff88;


}

button{
    outline: none;
    border: none;
}

.rodape{
    background-color: #0000;
    text-align: center;
    padding: 30px;
    color: #cccccc;
    border-top: #00ff88 solid 1px;
}
